<footer class="footer w-100 bg-light py-4 border-top">
  <div class="container row mx-auto">
    <div class="col-12 col-lg-4 order-1 order-lg-1 d-flex align-items-center justify-content-lg-start justify-content-center">
      <img [src]="logoPath" alt="Logo" class="me-2">
    </div>
    <div class="col-12 col-lg-4 order-3 order-lg-2 d-flex align-items-center mt-3 mt-lg-0">
      <span class="mx-auto fs-6">Copyright © 2024 UniDigital</span>
    </div>
    <div class="col-12 col-lg-4 order-2 order-lg-3 text-start text-lg-end d-flex align-items-center justify-content-lg-end justify-content-center mt-3 mt-lg-0">
      <div class="social-icons">
        <a class="me-2 text-dark" href="#"><i class="bi bi-facebook"></i></a>
        <a class="me-2 text-dark" href="#"><i class="bi bi-twitter-x"></i></a>
        <a class="me-2 text-dark" href="#"><i class="bi bi-instagram"></i></a>
        <a class="me-2 text-dark" href="#"><i class="bi bi-linkedin"></i></a>
        <a class="me-2 text-dark" href="#"><i class="bi bi-google"></i></a>
        <a class="me-2 text-dark" href="#"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>
