<div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/page-builder">Page Builder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/card-type">Card Type</a>
      </li>
      <!-- Add more nav items here -->
    </ul>
  </div>
  