<div class="container-fluid py-5" style="background: linear-gradient(to bottom,#030637,#720455);">
    <div class="container">
        <div class="row d-flex align-items-center border-bottom py-3">
            <div class="col-12 col-lg-8">
                <img [src]="logoPath" alt="">
            </div>
            <div class="col-12 col-lg-4">
                <div class="row d-flex text-start text-lg-end pt-3 pt-lg-0">
                    <div class="col-12 col-lg-3 my-2 my-lg-0">
                        <a href="" class="text-decoration-none text-white">Home</a>
                    </div>
                    <div class="col-12 col-lg-3 my-2 my-lg-0">
                        <a href="" class="text-decoration-none text-white">Products</a>
                    </div>
                    <div class="col-12 col-lg-3 my-2 my-lg-0">
                        <a href="" class="text-decoration-none text-white">Contact</a>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row d-flex align-items-center py-5">
            <div class="col-12 col-lg-10">
                <p class="text-white opacity-75">
                    At UniDigital, we provide a premier NFC management platform that lets you effortlessly edit data, manage accounts, and track your card usage with full control. Enhance your NFC experience with us—where convenience meets innovation.
                </p>
            </div>
            <div class="col-12 col-lg-2 mt-4">
                <div class="row d-flex text-center text-lg-end">
                    <div class="col-3">
                        <a href="">
                            <i class="bi bi-facebook text-white icon-medium"></i>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="">
                            <i class="bi bi-instagram icon-medium text-white"></i>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="">
                            <i class="bi bi-linkedin icon-medium text-white"></i>
                        </a>                    
                    </div>
                    <div class="col-3">
                        <a href="">
                            <i class="bi bi-google icon-medium text-white"></i>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>